.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-sub-container {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.slider-in-main {
  color: white;
  background-color: black;
  padding: 18px;
  margin: 18px;
}
